* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-weight:400;
}

ul .nav-item {
    padding: 0 0.3em;
}

.navbar-brand {
    font-weight: bold;
}

.form-group{
    width:350px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    color: rgb(6, 32, 119);
  }


/* .two-column-list {
    display: block;
    text-align: center;
} */

.two-column-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-text {
    padding-right: 3vh;
    font-size: 2vh;
    color: black !important;
}
/* 모바일 크기일때는 크기를 줄이던지 해야할듯 아니면 중앙 정 */

#column {
    padding: 0 15px;
    padding-bottom: 10px;
    text-align: center;
}

.users {
    display: flex;
    justify-content:flex-start;
}

label {
    font-weight: bold;
    display: block;
    text-align: center;
}

input[type="checkbox"]:disabled {
    /* 회색 배경색과 흐림 효과 추가 */
    background-color: #ccc;
    opacity: 0.5; /* 선택적으로 투명도 조절 가능 */
}


main {
    padding-top: 5vh;
}


.saveEnd {
    display: block;
    text-align: center;
}


.btn.btn-primary{
    border:1px solid #bedaee;;
    background-color: #e3f2fd;
    width: 300px;
    font-size: small;
    margin-left:auto;
    margin-right:auto;
    color: rgb(6, 32, 119);
}

footer{
    margin:0 auto;
    text-align:center;
    bottom:5px;
    color:gray;
    max-width: 100%;
    height: auto;
    font-size: small;
}