* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-weight:400;
}

ul .nav-item {
    padding: 0 0.3em;
}

.navbar-brand {
    font-weight: bold;
}

.form-group{
    width:350px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    color: rgb(6, 32, 119);
  }

  .navbar-text {
    margin: 0 auto;
    padding-right: 1em;
    font-size: 1.5vh;
    color: black !important;
}

.user-name {
    padding-right: 1em;
}

#fakeAttendeesText {
    font-weight: bold;
    padding-bottom: 1vh;
}

#attdRateText {
    font-weight: bold;
    padding-bottom: 1vh;
}

#fakeAttendees, #attdRate {
    text-align: center;
}

/* main {
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    padding-left: 30vh;
    padding-right: 30vh;
} */

main {
    display: grid;
    padding: 3vh
}

table {
    border-collapse: collapse; /* 테이블 셀의 테두리를 합칩니다. */
    margin: 0 auto; 
}
  
th, tr {
    border: 1px solid black; /* 테두리에 선을 추가합니다. */
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: black;
    text-align: center;
    background-color: #e3f2fd;
    
}

footer{
    margin:0 auto;
    text-align:center;
    bottom:5px;
    color:gray;
    max-width: 100%;
    height: auto;
    font-size: small;
}